.myImage {
    width: 250px;
    border-radius: 50%;
}

.myJumbo {
    margin-top: 1em;
    padding: 2rem 2rem;
}

@media screen and (max-width: 576px) {
    .jumboImage {
        margin-bottom: 1em;
    }
}

.modalResume {
    width: 100%;
    height: 70vh;
    border: none;
}


